<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Quora Posts</h1>
        <a href="/posts/new"><button>Create a new post</button></a>
    </header>
    <hr>
    <br>
    <br>
    <div class="container">
        <% for(post of posts){ %>
            <div class="post">
                <h3 class="username">@<%=post.username%> <span>posted</span></h3>
                <h4 class="content ">"<%= post.content %>"</h4>
                <div class="opt">
                    <a class="options" href="/posts/<%= post.id %>"><button>See in detail</button></a>
                    <a class="options" href="/posts/<%= post.id %>/edit"><button>Edit</button></a>
                    <form class="options" method="post" action="/posts/<%= post.id%>?_method=DELETE">
                        <a href="/posts/<%= post.id %>/edit"><button>Delete</button></a>
                    </form>
                </div>
                
                
            </div>
        <% } %>
    </div>
    <br>
    
</body>
</html>